body{
margin: 0;
padding: 0;
text-decoration: none;
font-family:Verdana, Geneva, Tahoma, sans-serif;
overflow-x: hidden;
}

header{
    width: 100%;
    height: 72vh;
    overflow:hidden;
    position:relative;
    object-fit:contain;
    margin-bottom: 10vh;
}

.header-image{
    position:absolute;
    z-index: -1;
    top:-10vh;
    object-fit:cover;
}

.nav{
    display:flex;
    margin:1vh 10vw;
    justify-content: space-between;
    color:gold;
    font-size:1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar{
    display: flex;
}

.nav-bar li{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left:30px;
    list-style: none;
}
.nav-bar li a{
    
        background:none;
        font-size: 1em;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:gold;
        padding-left: 30px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        align-items:flex-end;
        text-decoration: none;
      
}

.head{
    /*display: flex;
    flex-direction:column ;
    justify-content:left;
    margin-top: 7vh;
    align-items:center;*/

}

.logo{
    width:20vw;
    margin-left: 30px;
}

.head h3{
    font-size:2.1em;
    color:white;
    font-weight:lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   
}

.search{
    display: flex;
    width:40vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: rgb(226, 117, 117);
    padding: 5px 0 ;
}

.search input{
    outline:none;
    border:none;
    width:50%;
    padding-left: 10px;
    font-size: 15px;
    

}

.search p{
    color:rgb(61, 3, 3);
    border-right:1px solid rgb(43, 1, 1);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    padding-right: 10px;
    
}

.search i:first-child{
    font-size:20px;
    color:rgb(245, 127, 127);
    padding-left:10px;
    padding-right: 10px;
}

.search i{
    color:gray;
}


.sec-1{
    display: flex;
    justify-content:center;
    margin-bottom: 7vh;
}

.box{
    position:relative;
    width:265px;
    margin:3px 5px;
    overflow:hidden;
    border-radius: 15px;
    box-shadow:0 1px 2px gray;
    background-color: rgb(243,240,240);

}

.box img{
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    border:1px solid gray;
    z-index: -1;
    

}

.white{
    position:absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color:white;
    width:100%;
    height:25%;
    z-index:2;
}

.white p{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color:rgb(56,56,56);
    letter-spacing:0.7px;
}

.middle{
    margin: 60px 150px;

}

.sec-2 h2{
    font-size:2.7rem;
    font-weight:lighter;
    margin-bottom: 10px;
}

.sec div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sec-2 h6{
    margin:0;
    font-size: 1.4rem;
    font-weight: lighter;
    color:gray;

}



.sec-2 div span{
    color: rgb(248,117,117);
}

.box-1{
    width: 285px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.box-1 div{
    position: absolute;
    background: -moz-linear-gradient(transparent, black);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    bottom: 0;
}
.box-1 div span:first-child{
    display: inline-block;
    color: white;
    padding-left: 15px;
    font-size: 1rem;
    padding-bottom: 5px;
}
.box-1 img{
    width: 295px;
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
}
.sec-3{
    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;
    justify-content: space-between;
}